<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.mapper.UserMapper">
	<!-- 结果集 -->
	<resultMap id="userMap" type="com.dong.entity.User">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
	</resultMap>

	<!-- 报错：Result Maps collection does not contain value for com.dong.entity.User 
		解决方法：将findById查询方法的 resultMap="com.dong.entity.User" 改为 resultMap="userMap" -->

	<select id="findAll" resultType="com.dong.entity.User">
		select * from user
	</select>

	<insert id="insertuser" parameterType="user"
		useGeneratedKeys="true" keyProperty="sno">
		insert into
		t_user(sname,sage)
		values
		(#{sname},#{sage})
	</insert>

	<select id="findById" parameterType="string" resultType="user" >
		select * from user  where id = #{id}
	</select>

</mapper>